@import "compass/css3";

* {
  @include box-sizing(border-box);

  margin: 0;
  padding: 0;
}

@mixin animate($value) {
  -webkit-animation: unquote($value);
     -moz-animation: unquote($value);
       -o-animation: unquote($value);
          animation: unquote($value);
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
     @-moz-keyframes #{$name} { @content; }
       @-o-keyframes #{$name} { @content; }
          @keyframes #{$name} { @content; }
}

body {
  background: #f2f6f7;
  text-align: center;
  padding: 50px;
}

#scene {
  @include border-radius(50%);
  @include transform(translateZ(0)); // Overflow bug

  position: relative;
  display: inline-block;
  font-size: 0;

  width: 640px;
  height: 320px;

  overflow: hidden;
}

#boat {
  @include animation(boat-animation 3s ease-in-out infinite alternate);
  position: absolute;

  left: 0;
  right: 0;
  bottom: 72px;

  width: 404px;
  height: 25px;

  border-style: solid;
  border-color: #8B4513 transparent transparent;
  border-width: 25px 21px 0 21px;

  margin: auto;

  &:before,
  &:after {
    content: " ";
    position: absolute;
    z-index: 10;
  }

  &:before {
    top: -34px;
    left: -21px;

    width: 404px;
    height: 11px;

    border-style: solid;
    border-color: #D2691E transparent transparent;
    border-width: 10px 8px 0 0;
  }

  &:after {
    background: #CD853F;

    top: -40px;
    right: -29px;
    bottom: -20px;

    width: 412px;
    height: 2.5px;
  }


  .window1 {
    @include border-radius(50%);

    position: absolute;
    background: #ffffff;
    border: solid 1px #123f67;

    top: -25px;
    left: 10px;

    width: 15px;
    height: 15px;

    z-index: 20;
  }

  .window2 {
    @include border-radius(50%);

    position: absolute;
    background: #ffffff;
    border: solid 1px #123f67;

    top: -25px;
    left: 40px;

    width: 15px;
    height: 15px;

    z-index: 20;
  }

  .window3 {
    @include border-radius(50%);

    position: absolute;
    background: #ffffff;
    border: solid 1px #123f67;

    top: -25px;
    left: 70px;

    width: 15px;
    height: 15px;

    z-index: 20;
  }

  .frontmast {
    position: absolute;
    background: #c7cfd2;
    border-top: solid 2px #aeb9bb;
    transform: rotate(60deg);
    top: -70px;
    right: -45px;

    width: 5px;
    height: 50px;

    &:before,
    &:after {
      @include border-radius(5px);
      content: " ";
      position: absolute;
      background: #84939b;
    }

    &:before {
    }

    &:after {

    }
  }

  .middlemast {
    position: absolute;
    background: #c7cfd2;
    border-top: solid 2px #aeb9bb;

    top: -185px;
    left: 200px;

    width: 5px;
    height: 160px;

    &:before,
    &:after {
      @include border-radius(0 0 7px 7px);
      content: " ";
      position: absolute;
      background: #84939b;
    }

    &:before {
      top: 15px;
      left: -7px;
      background: #D2691E;

      width: 20px;
      height: 7.5px;
    }

    &:after {
      top: 0px;
      left: 0px;

      width: 5px;
      height: 10px;
    }
  }

  .sail1 {
    position: relative;
    display: inline-block;
    overflow: hidden;

    top: -240px;
    left: 10px;

    width: 120px;
    height: 100px;

  &:before {
    content: " ";
    position: absolute;
    top: 20%;
    right: -125%;
    display: block;
    background: #FAEBD7;
    -webkit-transform: rotate(90deg);
    transform: rotate(135deg);
    width: 200%;
    height: 200%;
  }
}

.sail2 {
  position: relative;
  display: inline-block;
  overflow: hidden;

  top: -218px;
  left: -45px;

  width: 120px;
  height: 117px;

&:before {
  content: " ";
  position: absolute;
  top: 20%;
  right: -120%;
  display: block;
  background: #FAEBD7;
  -webkit-transform: rotate(90deg);
  transform: rotate(135deg);
  width: 200%;
  height: 200%;
  }
}

.sail3 {
  position: relative;
  display: inline-block;
  overflow: hidden;

  top: -218px;
  left: -32px;

  width: 120px;
  height: 175px;

&:before {
  content: " ";
  position: absolute;
  top: 20%;
  right: 20%;
  display: block;
  background: #FAEBD7;
  -webkit-transform: rotate(90deg);
  transform: rotate(135deg);
  width: 200%;
  height: 200%;
  }
}
.sail4 {
  position: relative;
  display: inline-block;
  overflow: hidden;

  top: -358px;
  left: 150px;

  width: 120px;
  height: 140px;

&:before {
  content: " ";
  position: absolute;
  top: 22%;
  right: 22%;
  display: block;
  background: #FAEBD7;
  -webkit-transform: rotate(90deg);
  transform: rotate(135deg);
  width: 200%;
  height: 200%;
  }
}





  .cargo {
    @include border-radius(3px);
    @include box-shadow((
      -13px 0 0 0 #cb2332,
      -26px 0 0 0 #f02231,
      -39px 0 0 0 #f02231,
      -52px 0 0 0 #cb2332,
      -65px 0 0 0 #f02231,

      -26px -13px 0 0 #f02231,
      -39px -13px 0 0 #cb2332,
      -52px -13px 0 0 #f02231,
      -65px -13px 0 0 #f02231,

      -52px -26px 0 0 #f02231,
      -65px -26px 0 0 #cb2332
    ));

    position: absolute;
    background: #f02231;

    top: -45px;
    left: 95px;

    width: 12px;
    height: 12px;

    z-index: 0;
  }
}


  .back {
    @include border-radius(5px);
    position: absolute;
    background: #CD853F;
    border-top: solid 2px #aeb9bb;

    top: -80px;
    left: -20px;

    width: 50px;
    height: 50px;

    &:before,
    &:after {
      @include border-radius(5px);
      content: " ";
      position: absolute;
      background: #84939b;
    }

    &:before {
      top: -10px;
      left: -7px;
      background: #D2691E;


      width: 50px;
      height: 60px;
    }

    &:after {
      top: -5px;
      left: 0px;

      width: 6px;
      height: 6px;
    }
  }

#water {
  @include animate(water-animation 3s linear infinite);

  position: absolute;

  left: 0;
  bottom: 0;

  width: 100%;
  height: 89px;

  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  z-index: 50;

  > span {
    position: relative;
    display: inline-block;
    overflow: hidden;

    height: 200px;
    width: 60px;

    z-index: 0;

    &:before {
      @include border-top-left-radius(110px 90px);
      @include border-top-right-radius(110px 90px);

      content: " ";
      position: absolute;
      background: #2495c0;

      top: 0;
      left: -20px;

      height: 200px;
      width: 100px;

      margin-top: 40px;

      z-index: 1;
    }

    &:after {
      content: " ";
      position: absolute;

      top: 0;
      left: -320px;

      width: 0;
      height: 0;

      border-style: solid;
      border-color: transparent transparent #24a6d6;
      border-width: 0 350px 100px 350px;

      z-index: 0;
    }
  }
}

@include keyframes(water-animation) {
  0% {
    left: 0;
  }

  100% {
    left: -60px;
  }
};

@include keyframes(boat-animation) {
  0% {
    @include rotate(-3deg);
  }

  100% {
    @include rotate(3deg);
  }
};
